# directories
root-project/yamcs-5.10.9/** */
root-project/yamcs-studio-1.7.6/** */

# Eclipse metadata
/.settings/
/.classpath
/.project

# Maven output
root-project/myproject/target/

# VSCode
.vscode/settings.json

# Docker logs for CI
docker/all.log
